@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin3d {
  animation: spin3d 6s ease-out infinite;
}

@keyframes spin3d {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(-20deg) rotateY(1turn);
  }
  100% {
    transform: rotateX(-20deg) rotateY(1turn);
  }
}

.calendar-container .gBLCdz {
  background-color: #ffffff;
  border-color: theme("colors.slate.300");
  height: auto;
  padding-top: 0.375rem /* 6px */;
  padding-bottom: 0.375rem /* 6px */;
  padding-left: 0.75rem /* 12px */;
  padding-right: 0.75rem /* 12px */;
}
.calendar-container.bigger .gBLCdz {
  padding-top: 0.625rem /* 10px */;
  padding-bottom: 0.625rem /* 10px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

.calendar-container .gBLCdz:hover {
  border-color: theme("colors.primary.500");
}
.calendar-container .gBLCdz:focus {
  border-color: theme("colors.primary.500");
}

.swiper-pagination {
  position: static;
  text-align: end;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: theme("colors.primary.300");
  opacity: 0.5;
  transition: all 0.25s;
}
.swiper-pagination-bullet:hover {
  background-color: theme("colors.primary.400");
}

.swiper-pagination-bullet.active-bullet {
  width: 28px !important;
  height: 10px;
  background-color: theme("colors.primary.600");
  border-radius: 6px;
  opacity: 0.9;
}
